{% extends 'base.html' %}

{% block title %}
    ProfilePage
{% endblock %}

{% block body %}
    <h1 class="profile_name">///&nbsp;&nbsp;&nbsp; {{ form.name }} &nbsp;&nbsp;&nbsp; ///</h1>
    {% if our_name != form.name and form.name != 'sinarayo' %}
        <h1>{{ is_following }}</h1>
        {% if is_following == False %}
            <a href="{% url "users:follow" slug=form.name %}" class="follow_btn">Follow</a>
        {% elif is_following == True %}
            <a href="{% url "users:follow" slug=form.name %}" class="Unfollow_btn">unFollow</a>
        {% endif %}

    {% elif our_name == form.name %}
        <h1 class="follow_btn">Your Profile</h1>
    {% elif form.name == 'sinarayo' %}
        <h1 class="follow_btn">Admin</h1>
    {% endif %}
    <h1>Posts</h1>

    {% for post in posts %}
        {% if post.author.username == form.name %}
            <div class="article">
                <h2 class="post_title"><a href="{% url 'posts:post_detail' slug=post.slug %}"> {{ post.title }} </a>
                </h2>
                <p class="editedbody"> {{ post.editedbody }} </p>
             {% if post.author.username == our_name %}
                <p><a href="{% url 'posts:delete' slug=post.slug %}">delete post</a></p>
             {% endif %}
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}