{% extends 'base.html' %}

{% block title%}
ProfilePage
{% endblock %}

{% block body %}

    <h1 class="profile_name">///&nbsp;&nbsp;&nbsp; {{ form.name }} &nbsp;&nbsp;&nbsp; ///</h1>
    <a href="{% url "users:follow" slug=form.name %}" class="follow_btn">Follow</a>
    <h1>Posts</h1>

    {% for post in posts %}
        {% if post.author.username == form.name %}
    <div class="article">
    <h2 class="post_title"><a href= "{% url 'posts:post_detail' slug=post.slug %}"> {{ post.title }} </a></h2>
    <p class="editedbody"> {{ post.editedbody }} </p>
    </div>
        {% endif %}
    {% endfor %}

{% endblock %}