{% extends 'base.html' %}

{% block title %}
    postsPage
{% endblock %}
{% block body %}
     <p><a href="{% url 'posts:create' %}"  class="highlight"> Create new Post </a></p>

    {% for post in posts %}
    <div class="article">
    <h2 class="post_title"><a href= "{% url 'posts:post_detail' slug=post.slug %}"> {{ post.title }} </a></h2>
    <p class="editedbody"> {{ post.editedbody }} </p>
    <p class="seller">added by <a href="#" class="author-link">{{post.author.username}}</a></p>
{#    answers    #}
    </div>
    {% endfor %}
{% endblock %}