{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
HomePage
    </title>
 <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>

<div class="wrapper">

<body>
    <h1>Welcome to my twitter</h1>
    <p><a href="{% url 'users:users' %}"> manage your account</a></p>
    <div class="detail"><p class="seller"><a href="{% url 'users:profile' slug=my_name.user_slug %}" class="author-link">Your Profile</a></p></div>
    <h2 class="post-page-link"><a href="{% url 'posts:home' %}">Visit all posts</a></h2>
    <p><a href="{% url 'posts:create' %}" class="highlight"> Create new Post </a></p>

    <h2 class="your_following">your following posts</h2>

    {% for post in posts %}
    {% if post.author in followings %}
    <div class="article">
    <h2 class="post_title"><a href= "{% url 'posts:post_detail' slug=post.slug %}"> {{ post.title }} </a></h2>
    <p class="editedbody"> {{ post.editedbody }} </p>
    <p class="seller">added by <a href="{% url 'users:profile' slug=post.auth_slug%}" class="author-link">{{post.author.username}}</a></p>

{#    answers    #}
    </div>

    {% endif %}
    {% endfor %}

</body>
</div>
</html>

